services:
  api:
    restart: always
    build:
      context: ./api
    ports:
      - "9701:8080"
    environment:
      - ENV=local
      - LOG_LEVEL=debug
      - GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
      - GITHUB_REPOS_DIR=/root/repos
      - GOTENBERG_ADDR=http://gotenberg:3000
    volumes:
      - ./api/repos:/root/repos
  ui:
    restart: always
    build:
      context: ./ui
      args:
        - NODE_ENV=production
        - NEXT_PUBLIC_API_ADDR=${NEXT_PUBLIC_API_ADDR:http://localhost:9701}
    ports:
      - "9702:3000"
  gotenberg:
    restart: always
    image: gotenberg/gotenberg:8
    environment:
      - DEFAULT_WAIT_TIMEOUT=30
    ports:
      - "9703:3000"
