@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px];
    color: #ededed;
    font-size: 16px;
    font-family: monospace;
}

a {
    @apply text-teal-500 hover:text-teal-600;
}

.btn {
    @apply text-teal-500 hover:text-teal-600 bg-transparent border border-teal-500 hover:border-teal-600 font-semibold rounded-lg text-sm w-auto py-2 px-4 text-center;
}

.btn:disabled {
    @apply opacity-50 cursor-not-allowed hover:text-teal-500;
}

.input {
    @apply w-full rounded-md shadow-sm bg-transparent p-2 ring-gray-300 border border-gray-300 text-white text-sm;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
