name: Tests
on: [push]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.60

  test:
    name: Tests
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Run Tests
        working-directory: ./api
        run: go test -v -bench=. -race ./...
